@using HospitalERP.Models;
@model IEnumerable<Nurse>
@{
    ViewData["Title"] = "Nurses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Administrator</span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Nurse</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                 <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href="@Url.Action("AddNurse","Admin")" class="btn btn btn-primary">
                                            <i class="fas fa-plus-square"></i>
                                            <span>
                                                Add Nurse
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                  </div>
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                        <tr>
                                  <th>
                                    @Html.DisplayNameFor(model => model.N_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.N_Fullname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.N_Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.N_Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.N_Speciality)
                                </th>    
                                 <th>
                                 
                                </th>    
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.N_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.N_Fullname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.N_Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.N_Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.N_Speciality)
                                    </td>  
                                    <td>
                                       <a href="@Url.Action("EditStudent","Student", new { id = item.N_ID})" class="btn btn btn-primary btn-outline btn-rounded">Edit</a>
                                       <a href="@Url.Action("StudentDetails","Student", new { id = item.N_ID})" class="btn btn btn-info btn-outline btn-rounded">Activate</a>
                                       <a href="@Url.Action("DeleteFeeType","Settings", new { id = item.N_ID})" class="btn btn btn-danger btn-outline btn-rounded">Deactivate</a>
                                    </td> 
                                </tr>
                            }
                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
</div>






